<%= simple_form_for(todo_list) do |f| %>
  <% if todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-inputs">
    <%= f.input :name %>
  </div>

<%#- What is below is what will be shown when the nested form is called %>
 <div class="form-group">
    <%= f.label :Name %>:
    <%= f.text_field :name, :class => 'form-control' %>

    <div id="task">
      <label>Tasks:</label>
        <%= f.fields_for :category do |builder| %>
        <%= render 'category_fields', f: builder %>
      <div id="links">
        <%= link_to_add_association "add Taks", f, :categories %><br/>
      </div>
        <% end %>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to_add_association 'Add Task', f, :tasks, class: 'btn btn-primary', data: { association_insertion_node: '.tasks', association_insertion_method: :append} %>
  </div>

</div>
<% end %>

