<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo_list.name %>
</p>

<p>
  <strong>Task:</strong>
    <ol>
  <% for task in @todo_list.tasks %>
  	<li><%=h task.name %></li>
  	<% end %>
  </ol>
</p>

<p>
  <strong>Due Date:</strong>
    <ol>
  <% for task in @todo_list.tasks %>
  	<li><%=h task.due %></li>
  	<% end %>
  </ol>
</p>


<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
